<div class="container py-5 my-5">
  <div class="card">
    <div class="card-title col-12 text-center pt-5">
      <h1 class="h4 mb-3 text-success">¡Email confirmado exitosamente!</h1>
    </div>
    <div class="card-body">
      <div class="col-12">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-4 text-center">
            <img
              src="assets/images/pole-dance-unicorn.jpg"
              class="img-fluid"
              alt="Imagen Registro"
            />
          </div>
          <div class="col-4 text-center">
            <!-- Mensaje de confirmación -->
            <p class="text-light">
              Tu correo electrónico ha sido confirmado exitosamente. Ahora
              puedes acceder a todas las funciones de nuestro sitio.
            </p>
            <br>
            <p class="text-light">
              Ya puedes cerrar esta página.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
