.sidebar-container {
  width: 250px;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px;

    .fs-4 {
      display: none;
    }

    .nav-link {
      .ms-2 {
        display: none;
      }
    }
  }
}
