/* COLORS */
$cust-primary: #264653 !default;
$cust-secondary: #2A9D8F !default;
$cust-accent: #E9C46A !default;
$cust-text: #000000 !default;
$cust-background: #faf1e2 !default;

$cust-primary-dark: #abccd8 !default;
$cust-secondary-dark: #62d5c8 !default;
$cust-accent-dark: #977317 !default;
$cust-text-dark: #ffffff !default;
$cust-background-dark: #031b27 !default;

/* FONTS */
$main-size: 16px !default;
$primary-font-family: Roboto, Helvetica, sans-serif !default;
$body-font-size: 1.5rem !default;

/* CUSTOM VARIABLES */
$ghost: #528cce !default;
