/* COLORS */
$primary-color: #264653 !default;
$secondary-color: #2A9D8F !default;
$accent-color: #E9C46A !default;
$text-color: #000000 !default;
$background-color: #faf1e2 !default;

$primary-color-dark: #abccd8 !default;
$secondary-color-dark: #62d5c8 !default;
$accent-color-dark: #977317 !default;
$text-color-dark: #ffffff !default;
$background-color-dark: #031b27 !default;

/* FONTS */
$base-font-size: 16px !default;
$primary-font: Roboto, Helvetica, sans-serif !default;
$body-line-height: 1.5 !default;

/* SPACING */
$spacing-small: 0.5rem !default;
$spacing-medium: 1rem !default;
$spacing-large: 2rem !default;

/* BREAKPOINTS */
$breakpoint-mobile: 768px !default;
$breakpoint-tablet: 1024px !default;

/* SHADOWS */
$box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1) !default;

/* BORDER RADIUS */
$border-radius-small: 5px !default;
$border-radius-medium: 10px !default;

/* Z-INDEX */
$z-index-modal: 1000 !default;
$z-index-navbar: 1050 !default;

/* CUSTOM VARIABLES */
$ghost: #528cce !default;
