@use './styles/reset.scss' as *;
@use './styles/variables.scss' as *;

/*CUSTOMIZE BOOTSTRAP*/

$primary:$primary-color;
$secondary:$secondary-color;
$success:$accent-color;


@use '../node_modules/bootstrap/dist/css/bootstrap.min.css' as *;
@use "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/* GENERAL */

html {
  font-size: $base-font-size;
}

body {
  width: 100%;
  height: auto;
  font-family: $primary-font;
  font-size: $body-line-height;
  background-color: $background-color;
  color: $text-color;
  display: flex; /* Usa flexbox para el diseño general */
  flex-direction: column; /* Alinea los elementos verticalmente */
  min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la pantalla */
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    color: $accent-color;
  }
}
