@use './styles/reset.scss' as *;
@use './styles/variables.scss' as *;

/*CUSTOMIZE BOOTSTRAP*/

$primary:$cust-primary;
$secondary:$cust-secondary;
$success:$cust-accent;


@use '../node_modules/bootstrap/scss/bootstrap.scss' as *;

/* GENERAL */

html {
  font-size: $main-size;
}

body {
  width: 100%;
  height: auto;
  font-family: $primary-font-family;
  font-size: $body-font-size;
  background-color: $cust-background;
  color: $cust-text;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $cust-text;
}


/* LAYOUT */
.layout {
  border: 1px red solid;
  margin-top: 5vh;
  height: 85vh;
}
